#pragma code_page(65001)
// Common Controls v6, Windows 11 activation context, and the app icon.
#include "resource.h"
#include "../common/strings.rcinc"
1 24 "pulse.manifest"
IDI_PULSE ICON "pulse.ico"
// Empty-state illustrations are embedded so rendering never depends on loose assets.
IDR_EMPTY_FOLDER_SVG RCDATA "../../assets/empty-folder-state.svg"
IDR_NO_SELECTION_SVG RCDATA "../../assets/no-selection-state.svg"
IDR_RECENT_EMPTY_SVG RCDATA "../../assets/recent-empty-state.svg"
IDR_STARRED_EMPTY_SVG RCDATA "../../assets/starred-empty-state.svg"
IDR_EXCLUDE_EMPTY_SVG RCDATA "../../assets/exclude-empty-state.svg"
IDR_FLUENT_CUT_SVG RCDATA "../../assets/fluent/cut_24_color.svg"
IDR_FLUENT_COPY_SVG RCDATA "../../assets/fluent/copy_24_color.svg"
IDR_FLUENT_PASTE_SVG RCDATA "../../assets/fluent/clipboard_paste_24_color.svg"
IDR_FLUENT_RENAME_SVG RCDATA "../../assets/fluent/rename_24_color.svg"
IDR_FLUENT_DELETE_SVG RCDATA "../../assets/fluent/delete_24_color.svg"
IDR_FLUENT_STAR_SVG RCDATA "../../assets/fluent/star_24_color.svg"
IDR_FLUENT_HISTORY_SVG RCDATA "../../assets/fluent/history_24_color.svg"
IDR_FLUENT_DESKTOP_SVG RCDATA "../../assets/fluent/desktop_24_color.svg"
IDR_FLUENT_DOWNLOADS_SVG RCDATA "../../assets/fluent/arrow_square_down_24_color.svg"
IDR_FLUENT_RECYCLE_SVG RCDATA "../../assets/fluent/recycle_24_color.svg"
IDR_FLUENT_DRIVE_SVG RCDATA "../../assets/fluent/drive_24_color.svg"
IDR_FLUENT_FOLDER_SVG RCDATA "../../assets/fluent/document_folder_24_color.svg"
IDR_FLUENT_NETWORK_SVG RCDATA "../../assets/fluent/globe_24_color.svg"
IDR_FLUENT_SEARCH_SVG RCDATA "../../assets/fluent/search_visual_24_color.svg"
IDR_FLUENT_APPS_SVG RCDATA "../../assets/fluent/apps_24_color.svg"
IDR_FLUENT_PANEL_SVG RCDATA "../../assets/fluent/panel_right_24_color.svg"
IDR_FLUENT_PANEL_CLOSE_SVG RCDATA "../../assets/fluent/panel_right_contract_24_color.svg"
IDR_FLUENT_ADD_SVG RCDATA "../../assets/fluent/add_circle_24_color.svg"
IDR_FLUENT_OMNIBAR_SEARCH_SVG RCDATA "../../assets/fluent/search_24_color.svg"
